:root {
    --BI-0: #190452;
    --BI-1: #191a75;
    --BI-2: #303146;
  
    --Button-text: #070714;
    --Button-back: #2e6191;
    --Button-hover: #222a99;
    --Button-drop: none;
    
    --text-p: #030413;
    --text-drop: none;
  
    --header: #2a2a2a;
  
    --inBack-0: #13114d;
    --inBack-1: #2e4892;
    
    --border-col: #818c96;
    --sect-back: #725eb8;
  }